* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 16px;
	vertical-align: baseline;
	background: transparent;
	font-family: Helvetica, sans-serif;
	scroll-behavior: smooth;

}
a{
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color: inherit;
}
a:active{
	text-decoration: underline;
}
footer{
	/* display: flex; */
	border-top: 1px solid #87423c;
	padding: 0px 5%;
	color: #87423c ;
}
footer a{
	color: #87423c ;
}
footer h2{
	margin-top: 3rem;
	font-size: 24px;
	color: #87423c;
}
h2{
	font-size: 24px;
	color: #4d1d18;
}
h3{
	font-size: 20px;
	text-align: center;
}
h5{
	font-size: 20px;
	font-weight: 400;
	color: #4d1d18;
}
hr{
	margin: 1rem 0px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
main{	

}
main h1{
	text-align: center;
	font-size: 36px;
	color: #87423c;
}
nav{
	max-height: 4rem;
	display: flex;
	justify-content: space-between;
	position: sticky;
	top: 0;
	background: #682721;
}
nav a{
	color: #4d1d18;
}
p{
	 line-height: 150%; 
	 font-family: Calibri, sans-serif;
}
#booknow{
	cursor: pointer;
	border: 1px solid #4d87d9;
	border-radius: .2rem;
	padding: 1rem 2rem;
	background-color:#4d87d9;
	color: black;
	transition: background-color .2s ease;
}
#booknow:hover{
	background-color: white;

}
#home{
		display: flex;
}
#home .main_left{
	display: flex;
	flex-direction: column;
	/* background: rgba(255,255,255, .4); */
	width: 50%;
}
#home .main_left h1{
	font-size: 36px;
	/* margin-bottom: 2rem; */
}
#home .main_left h2{
	margin: 2rem 0px;
	text-align: center;
	font-size: 24px;
	font-family: Calibri, sans-serif;
	color:  #4d1d18;
}
#home .main_left img{
	width: 100%;
}
#home .main_right{
	/*display: flex;*/
	justify-content: center;
	width: 40%;
	padding: 0px 5%;
	text-align: center;
}
#home .main_right h1{
	margin-top: 30%;
}
#home .main_right p{
	margin-top: 2rem;
	text-align: justify;
}
#location{
	display: flex;
}
#location .main_left{
	width: 30%;
	margin: 0px 10%;
}
#location .main_left p{
	text-align: justify;
	margin-bottom: 2rem;
}
#location .main_right{
	width: 50%;
	margin: 2rem 0px;
}
#location .main_left h2{
	margin: 2rem 0px;
	text-align: center;
}
#petpolicies{
	display: flex;
}
#petpolicies .main_left{
	width: 50%;
}
#petpolicies .main_left img{
	height: 100%;
	width: 100%;
}
#petpolicies .main_right{
	width: 30%;
	margin: 0% 10%;
}
#petpolicies .main_right h2{
	margin: 3rem 0px 2rem 0px;
	text-align: center;
}
#petpolicies .main_right p{
	text-align: justify;
}
#pricing{
	background-image: url('../images/ocean_beach3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	padding: 4rem 0px;
}
#pricing h2{
	text-align: center;
	margin-bottom: 2rem;
	padding-top: 2rem;
}
#pricing h4{
	margin-top: 2rem;
	text-align: center;
	font-family: Calibri, sans-serif;
}
#pricing p{
	text-align: center;
}
#pricing h5{
	margin: 2rem 0px 1rem 0px;
	text-align: center;
}
#pricing .main_left{
	/*display: flex;*/
	justify-content: center;
	width: 50%;
	text-align: center;
}
#pricing .main_left img{
	height: 100%;
}
#pricing .main_right{
	/*display: flex;*/
	justify-content: center;
	width: 50%;
	text-align: center;
}
#pricing .main_right h5{
	margin: 2rem 0px 1rem 0px;
}
#pricing .main_right img{
	height: 80%;
}
#sites{
	text-align: center;
}
#sites h2{
	margin-top: 2rem;
	text-align: center;
}
#sites img{
	width: 100%;
}
#sites p{
	text-align: justify;
}
#sites .main_left{
	width: 50%;
}
#sites .main_right{
	width: 50%;
}
#testimonials h2{
	padding-top: 4rem;
	text-align: center;
}
#testimonials .main_left{
	width: 50%;
}
#testimonials .main_right{
	width: 50%;
}



.active{
	transform: rotate(40deg);
}
.content{
	background: rgba(255,255,255,.4);
}
.d-flex{
	display: flex;
}
.logo{
	max-height: 4rem;
	cursor: pointer;
}
.footer_links{
	width: 33%;
	margin: 2rem 2rem 0rem 2rem;
}
.footer_links h3{
	margin-bottom: 1rem;
}
.footer_links ul li{
	list-style-type: none;
	margin-bottom: 1rem;
}
.footer_location{
	width: 33%;
	margin: 2rem 2rem 0rem 2rem;
}
.footer_location div{
	display: flex;
}
.footer_location h3{
	margin-bottom: 1rem;
}
.footer_policy{
	width: 33%;
	margin: 2rem 2rem 0rem 2rem;
}
.footer_policy ul{
	list-style-type: none;
}
.footer_policy h3{
	margin-bottom: 1rem;

}
.footer_policy ul li{
	margin: 1rem 0px;
}
.footer_social_links{
	display: flex;
	justify-content: center;
}
.footer_social_links img{
	margin: 1rem 1rem;
	cursor: pointer;
}
.jumbotron{
	/*margin-left: auto;*/
	border-radius: 1rem;
	margin: auto;
	height: 100vh;
	width: 70vw;
	background-color: rgba(255, 255, 255, .8);
}
.map{
	margin-left: 2rem;
	width: 20rem;
	height: 10rem;
}
.mb-4{
	margin-bottom: 4rem;
}
.nav-links{
	display: flex;
	align-items: center;
}
.nav-links li:nth-of-type(1){
	border-radius: .2rem 0px 0px .2rem;
}
.nav-links li:nth-of-type(4){
	border-radius: 0px .2rem .2rem 0px;
	margin-right: 1rem;
}
.nav-links li{
	/*margin: 0px 1rem;*/
	padding: 1rem 1rem;
	list-style-type: none;
	cursor: pointer;
	color: #4d1d18;
	font-family: Calibri, sans-serif;
	border-style: none solid none none;
	border-width: 1px;
	border-color: #555;
	/*border-radius: .4rem;*/
	background: white;
	transition: background-color .2s ease;
}
.nav-links li:hover{
	color: #555;
	/*color: whitesmoke;*/
}
.px-10{
	padding: 0px 5%;
}
.row{
	display: flex;
}
/*.nav-links li:last-of-type{
	margin-left: 1rem;
}*/