* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-family: Helvetica, sans-serif;
}
a{
	text-decoration: none;
	cursor: pointer;
}
a:hover{
	text-decoration: underline;
}
a:visited{
	color: inherit;
}
footer{
	/* display: flex; */
	margin: 0px 5%;
	color: #87423c ;
}
footer h2{
	margin-top: 5rem;
	font-size: 36px;
	color: #87423c;
}
h3{
	font-size: 24px;

}
hr{
	margin: 1rem 0px;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
main{	
	display: flex;
}
main h1{
	text-align: center;
	font-size: 36px;
	color: #87423c;
}
nav{
	max-height: 4rem;
	display: flex;
	justify-content: space-between;
	background: #682721;
	  box-shadow: 5px 10px;
}
p{
	/* line-height: 150%; */
}
.active{
	transform: rotate(40deg);
}
.content{
	background: rgba(255,255,255,.4);
}
.logo{
	max-height: 4rem;
	cursor: pointer;
}
.footer_links{
	width: 33%;
	margin: 2rem 2rem 0rem 2rem;
}
.footer_links h3{
	margin-bottom: 1rem;
}
.footer_links ul li{
	list-style-type: none;
	margin-bottom: 1rem;
}
.footer_location{
	width: 33%;
	margin: 2rem 2rem 0rem 2rem;
}
.footer_location div{
	display: flex;
}
.footer_location h3{
	margin-bottom: 1rem;
}
.footer_policy{
	width: 33%;
	margin: 2rem 2rem 0rem 2rem;
}
.footer_policy ul{
	list-style-type: none;
}
.footer_policy h3{
	margin-bottom: 1rem;

}
.footer_policy ul li{
	margin: 1rem 0px;
}
.footer_social_links{
	display: flex;
	justify-content: center;
}
.footer_social_links img{
	margin: 1rem 1rem;
}
.main_left{
	display: flex;
	flex-direction: column;
	/* background: rgba(255,255,255, .4); */
	width: 50%;
}
.main_left h1{
	font-size: 36px;
	/* margin-bottom: 2rem; */
}
.main_left h2{
	margin: 2rem 0px;
	text-align: center;
	font-size: 24px;
	font-family: Calibri, sans-serif;
	color:  #4d1d18;
}
.main_left img{
	margin-left: auto;
	margin-right: auto;
	width: 50vw;
	margin-bottom: 2rem;
}
.main_right{
	display: flex;
	justify-content: center;
	width: 50%;
}
.map{
	margin-left: 2rem;
	width: 20rem;
	height: 10rem;
}
.nav-links{
	display: flex;
	align-items: center;
}
.nav-links li:nth-of-type(1){
	border-radius: .2rem 0px 0px .2rem;
}
.nav-links li:nth-of-type(4){
	border-radius: 0px .2rem .2rem 0px;
	margin-right: 1rem;
}
.nav-links li{
	/*margin: 0px 1rem;*/
	padding: 1rem 1rem;
	list-style-type: none;
	cursor: pointer;
	color: #4d1d18;
	font-family: Calibri, sans-serif;
	border-style: none solid none none;
	border-width: 1px;
	border-color: #555;
	/*border-radius: .4rem;*/
	background: white;
	transition: background-color .2s ease;
}
.nav-links li:hover{
	color: #555;
	/*color: whitesmoke;*/
}
.row{
	display: flex;
}
/*.nav-links li:last-of-type{
	margin-left: 1rem;
}*/